body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  background-color: black;
}

.background {
  padding: 4.375rem 0px 4.375rem 0px;
  width: 68.75rem;
  background-color: hsl(30, 54%, 90%);
  border-radius: 1.5rem;
}

.container {
  margin: 0 auto;
  padding: 1.25rem;
  max-width: 48rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.5rem;
}

.recipe {
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

img {
  max-width: 90%;
  height: auto;
  margin-left: 2.5rem;
  border-radius: 2.5rem;
}

.recipe-title {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: hsl(24, 5%, 18%);
}

.stone-600 {
  color: hsl(30, 10%, 34%);
}

.prep {
  max-width: 90rem;
  height: 10.75rem;
  margin: 0 3.75rem 0 3.75rem;
  padding: 1.5rem;
  line-height: 2;
  background-color: hsl(330, 100%, 98%);
  border-radius: 1.25rem;
}

.prep-time {
  font-weight: 500;
  font-size: 1.25rem;
  color: hsl(332, 51%, 32%);
}

.ingredients {
  line-height: 2;
}

h2 {
  color: hsl(14, 45%, 36%);
}

.nutrition-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.value {
  color: #854632;
  font-weight: bold;
}

.table {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  line-height: 1.5;
}

.row {
  display: flex;
  margin-bottom: 1.25rem;
}

.heading {
  font-weight: bold;
}

.cell {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.875rem;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.outfit-<uniquifier> {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* .young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
} */
