body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: hsl(30, 54%, 90%);
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 768px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 24;
}

.recipe {
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

img {
  max-width: 90%;
  height: auto;
  margin-left: 40px;
  border-radius: 40px;
}

.recipe-title {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: hsl(24, 5%, 18%);
}

.stone-600 {
  color: hsl(30, 10%, 34%);
}

.prep {
  max-width: 1440px;
  height: 172px;
  margin: 0 60px 0 60px;
  padding: 24px;
  line-height: 2;
  background-color: hsl(330, 100%, 98%);
  border-radius: 20px;
}

.prep-time {
  font-weight: 500;
  font-size: 20px;
  color: hsl(332, 51%, 32%);
}

.ingredients {
  line-height: 2;
}

h2 {
  color: hsl(14, 45%, 36%);
}

.nutrition-values {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.row {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.cell {
  margin: 30px 20px 20px 30px;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.outfit-<uniquifier> {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* .young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
} */
